@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
}

:root{
    --principal: #D2B48C;
    --secundario: #8B4513;
    --verde: #556B2F;
    --cinza: #D9D9D9;
    --branco: #fff;
}

/* NAVBAR ------------------------------------------- */
nav{
    background-color: var(--principal);
    width: 100%;
}

nav i{
    color: var(--secundario);
    font-size: 20px;
    cursor: pointer;
}

.nav-item:hover{
    cursor: pointer;
    color: var(--secundario);
} 

.navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
    color: var(--branco);
}

.nav-item.active a{
    border-bottom: var(--secundario) solid 2px;
    color: var(--secundario);
}

.btn-nav{
    background-color: var(--principal);
    color: var(--secundario);
    border: var(--secundario) solid 1px;
}

.btn-nav:hover{
    color: var(--branco);
    border: var(--branco) solid 1px;
}

